.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.column {
  height: 100vh; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/* Login.js */

.login-card {
  max-width: 640px;
}

.login-card img {
  max-width: 240px;
}

.login-div button {
  background-color: #0C4DA2;
  color: #fff;
  font-weight: 600;
}

.login-div button:hover {
  background-color: #0c4da2b3;
}



/* Feed-left panel */


.lp-logo {
  max-width: 140px;
  padding: 5px;
  border-radius: 100%;
  position: relative;
  top: -70px;
  left: 28%;
}

.lp-logo img{
  position: relative;
}

.lp-profile {
  margin-top: -50px;
}

/* Posts section */
.search {
  padding: 14px;
  align-items: center;
  border-radius: 28px;
  background: #f6f6f6;
    width: 60%;
  
  
}
.search input {
  width: 100%;
  font-size: 16px;
  color: #333333;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  align-items: center;
}

/* ###############dev######################## */
.create-btn {
  background-color: #13cca4; 
  color: #fff; 
  border: none;
  padding: 8px 16px; 
  border-radius: 40px; 
  margin: '10px'
}